<!DOCTYPE html>
<html>
<head>
	<link href="css/theme.css" rel="stylesheet" type="text/css"/>
    <title>Horários IFPB Guarabira</title>
</head>
<body>
	<form action="/curso" enctype="multipart/form-data" method="get" style='display:inline;'>
		<button class="button button1">Curso</button>
	</form>
	<form action="/professor" enctype="multipart/form-data" method="get" style='display:inline;'>
		<button class="button button1">Professor</button>
	</form>
	{% block content %}
    {% endblock %}
</body>
</html>