<!DOCTYPE html>
<html>
<head>
	<link href="css/theme.css" rel="stylesheet" type="text/css"/>
    <title>Horários IFPB Guarabira</title>
</head>
<body>
	<form action="/curso" enctype="multipart/form-data" method="get" style="text-align: center; margin-top: 20%">
		<button class="b b1">Curso</button>
	</form>
	<form action="/professor" enctype="multipart/form-data" method="get" style="text-align: center; margin-top: 10px">
		<button class="b b1">Professor</button>
	</form>
</body>
</html>